.App {
  text-align: center;
  background-image: url('/wooden-bg.jpg');
  background-size: cover;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 1000px;
  margin: 0 auto;
}
