.list-container {
  margin: 0 0 0 10px;
  padding: 10px;
  min-height: 80vh;
}

.list-container__list {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.list-container__item {
  display: flex;
  margin: 5px auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

.list-container__item:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.list-container__actions {
  margin-left: auto;
}

.selected {
  background-color: rgba(49, 143, 46, 0.8);
}

.todo-list {
  padding: 0;
  list-style-type: none;
}

.todo-list-item {
  display: flex;
  margin: 5px auto;
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.todo-list-item__text {
  width: 100%;
  padding: 2px;
  font-size: 0.9em;
  border-radius: 3px;
  margin: 0 10px;
}

.todo-list-item__checkbox {
  zoom: 1.5;
}

.transparent-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

/* Progressive BG Image Loader */

.progressive-image-container {
  width: 100%;
  overflow: hidden;
}

.progressive-image-preload {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.progressive-image-loaded {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  transition: opacity 2s ease;
}

.progressive-image-fade-in {
  opacity: 1;
}

.progressive-image-content {
  z-index: 3;
  position: relative;
  opacity: 1;
}
